extends /layout

block content
	section#hero-cover.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		div.background-image-holder(style="background: url(/img/header/news.jpg); opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/news.jpg" alt="" srcset="/img/header/news.jpg 1600w, /img/header/news.jpg 300w, /img/header/news.jpg 768w, /img/header/news.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			div.row
				div.col-sm-12
					h1.text-center News
			div.vc_empty_space(style="height: 32px")
				span.vc_empty_space_inner
	include partial/_blog_slider 