extends /layout

block content
	section.cover.height-60.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		div.background-image-holder(style="background-image: url(/img/header/loans-credit-cards.jpg); background-position:center bottom; opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/loans-credit-cards.jpg" alt="" srcset="/img/header/loans-credit-cards.jpg 1600w, /img/header/loans-credit-cards.jpg 300w, /img/header/loans-credit-cards.jpg 768w, /img/header/loans-credit-cards.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			//-div.row.text-center
				div.col-sm-12
					h1 Credit Cards
	//-section
		div.container
			div.row
				div.col-md-12.text-center
					a.btn.btn-blue.type--uppercase(href="/loans")
						i.icon.icon--xs.fa.fa-arrow-left.color--blue(style="margin-right:20px;")
						span.btn__text Back to Loans

	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Checking
	section
		div.container

			div.row
				div.col-md-12
					h5.color--blue The Simple Checking Account
					p.
						A convenient checking account that features easy access - no minimum balance and no monthly fees*.
			
			div.row.mt--2
				div.col-md-12
					p.unmarg.
						• $25 opening deposit
					p.unmarg.
						• Visa® Debit Card
					p.unmarg.
						• Overdraft Protection
					p.unmarg.
						• Digital Banking
					p.unmarg.
						• Deposit checks from your cell phone via Mobile App
					p.unmarg.
						• Direct Deposit
					p.unmarg.
						• Payroll Deduction
					p.unmarg.
						• Checks
					p.unmarg.
						• Visa® Debit Card Replacement
				
			div.row.mt--1
				div.col-md-12
					h5.color--blue Student Checking Account
					p.
						A simple and convenient checking account to get students started with banking.
			
			div.row.mt--2.final
				div.col-md-12
					p.unmarg.
						• $1 opening deposit
					p.unmarg.
						• Visa® Debit Card
					p.unmarg.
						• Digital  Banking
					p.unmarg.
						• Access to over Surcharge-free ATMs
					p.unmarg.
						• Direct Deposit 
					p.unmarg.
						• Checks
		

			
