extends /layout

block content
	section.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		div.background-image-holder(style="background-image: url(/img/header/loans-credit-cards.jpg); background-position:center bottom; opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/loans-credit-cards.jpg" alt="" srcset="/img/header/loans-credit-cards.jpg 1600w, /img/header/loans-credit-cards.jpg 300w, /img/header/loans-credit-cards.jpg 768w, /img/header/loans-credit-cards.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			//-div.row.text-center
				div.col-sm-12
					h1 Credit Cards
	//-section
		div.container
			div.row
				div.col-md-12.text-center
					a.btn.btn-blue.type--uppercase(href="/loans")
						i.icon.icon--xs.fa.fa-arrow-left.color--blue(style="margin-right:20px;")
						span.btn__text Back to Loans

	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Digital Banking
	section
		div.container

			div.row
				div.col-md-12
					h5.color--blue Online Banking
					p.
						Online Banking (login page) is the way to conveniently manage your accounts – 24/7.
			
			div.row.mt--2
				div.col-md-12
					p.unmarg.
						• View and print your account information
					p.unmarg.
						• Review transactions and pending transactions
					p.unmarg.
						• View checks cleared
					p.unmarg.
						• Update contact information
					p.unmarg.
						• Transfer funds between Tulare Federal accounts
					p.unmarg.
						• Pay your bills with our online Bill Pay
					p.unmarg.
						• Go paperless by switching to E-Statements
					p.unmarg.
						• Set up account eLerts
				
			div.row.mt--1
				div.col-md-12
					h5.color--blue Mobile Application
					p.
						Banking in the palm of your hand –anytime, anywhere.
			
			div.row.mt--2.final
				div.col-md-12
					p.unmarg.
						• View account
					p.unmarg.
						• Transfer funds
					p.unmarg.
						• Deposit checks
					p.unmarg.
						• Pay bills already setup in through Bill Pay
					                      
				div.col-md-12
					a.btn.btn-blue(href="#")
						span.btn__text Download the App                       

			div.row.mt--1
				div.col-md-12
					h5.color--blue Bill Pay
					p.
						Paper is great for some things, paying bills isn't one of them.
			
			div.row.mt--2.final
				div.col-md-12
					p.unmarg.
						• Set up bills in one easy step
					p.unmarg.
						• Schedule one time & recurring payments
					p.unmarg.
						• Pay at least one bill a month & it's free
					p.unmarg.
						• POP Money – Person to Person payments let you send, receive or request money with just an email address or mobile number*
					p.unmarg.
						• Account to Account Payments – Transfer money from other institutions to your Tulare Federal account
					p.
						*Terms & conditions apply.
				
		

			
