extends /layout

block content
	//- header section
	section#hero-cover.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		div.background-image-holder(style="background: url(/img/header/financial-education.jpg); opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/financial-education.jpg" alt="" srcset="/img/header/financial-education.jpg 1600w, /img/header/financial-education.jpg 300w, /img/header/financial-education.jpg 768w, /img/header/financial-education.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			div.row
				div.col-sm-12
					h1.text-center Financial Education
			div.vc_empty_space(style="height: 32px")
				span.vc_empty_space_inner

	//- Main content section
	section#content
		div.container
			div.row
				div.col-sm-12.text-center
					p Tulare Federal’s passion for education is in their DNA and they are committed to giving you the resources and information you need for a healthy financial future.


			div.row.mt--3
				div.col-sm-12
					div.tabs-container(data-content-align="left")
						ul.tabs
							li.active
								div.tab__title
									span.h6 Overview
								div.tab__content
									div.row
										div.col-sm-12.margin-bottom-30.text-center
											img(src="/img/financial-education/overview.jpg")
										div.col-sm-12
											h4.color--primary Overview
											p.
												Your bones don’t break, mine do. That’s clear. Your cells react to bacteria and viruses differently than mine. You don’t get sick, I do. That’s also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We’re on the same curve, just on opposite ends.

											p.
												Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they’re actually proud of that shit.
										div.col-sm-12.mt--2
											h4.color--primary Tulare Federal Financial Education Speaker Series
											p.
												Let local credit union veterans visit your school or business and dispell the myths of banking and budgeting and help your students or employees learn to be financially responsible and plan for their future.

											p.
												The three-part lecture series consists of a presentation and open dialogue that can be invaluable for young adults dealing with a lot of realities that surround
							li
								div.tab__title
									span.h6 Myths of Money
								div.tab__content
									div.row
										div.col-sm-12.margin-bottom-30.text-center
											img(src="/img/financial-education/myths-of-money.jpg")
										div.col-sm-12
											h4.color--primary Myths of Money
											p.
												Your bones don’t break, mine do. That’s clear. Your cells react to bacteria and viruses differently than mine. You don’t get sick, I do. That’s also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We’re on the same curve, just on opposite ends.

											p.
												Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they’re actually proud of that shit.
									div.row.mt--3
										div.col-sm-4.text-center
											i.icon.icon--lg.fa.fa-podcast
											h4.color--primary Myths of Money Podcast
											a.btn.btn--primary-2(href="#") 
												span.btn__text Listen
										div.col-sm-4.text-center
											i.icon.icon--lg.fa.fa-podcast
											h4.color--primary Myths of Money Quickcast
											a.btn.btn--primary-2(href="#") 
												span.btn__text Watch
										div.col-sm-4.text-center
											i.icon.icon--lg.fa.fa-podcast
											h4.color--primary Myths of Money Starter Kit
											a.btn.btn--primary-2(href="#") 
												span.btn__text Read
										
							li
								div.tab__title
									span.h6 Budgets
								div.tab__content
									div.row
										div.col-sm-12.margin-bottom-30.text-center
											img(src="/img/financial-education/overview.jpg")
										div.col-sm-12
											h4.color--primary Budgets
											p.
												Your bones don’t break, mine do. That’s clear. Your cells react to bacteria and viruses differently than mine. You don’t get sick, I do. That’s also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We’re on the same curve, just on opposite ends.

											p.
												Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they’re actually proud of that shit.
										div.col-sm-12.mt--2
											h4.color--primary Tulare Federal Financial Education Speaker Series
											p.
												Let local credit union veterans visit your school or business and dispell the myths of banking and budgeting and help your students or employees learn to be financially responsible and plan for their future.

											p.
												The three-part lecture series consists of a presentation and open dialogue that can be invaluable for young adults dealing with a lot of realities that surround

							li
								div.tab__title
									span.h6 How to Save
								div.tab__content
									div.row
										div.col-sm-12.margin-bottom-30.text-center
											img(src="/img/financial-education/overview.jpg")
										div.col-sm-12
											h4.color--primary How to Save
											p.
												Your bones don’t break, mine do. That’s clear. Your cells react to bacteria and viruses differently than mine. You don’t get sick, I do. That’s also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We’re on the same curve, just on opposite ends.

											p.
												Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they’re actually proud of that shit.
										div.col-sm-12.mt--2
											h4.color--primary Tulare Federal Financial Education Speaker Series
											p.
												Let local credit union veterans visit your school or business and dispell the myths of banking and budgeting and help your students or employees learn to be financially responsible and plan for their future.

											p.
												The three-part lecture series consists of a presentation and open dialogue that can be invaluable for young adults dealing with a lot of realities that surround

							li
								div.tab__title
									span.h6 Tools
								div.tab__content
									div.row
										div.col-sm-12.margin-bottom-30.text-center
											img(src="/img/financial-education/overview.jpg")
										div.col-sm-12
											h4.color--primary Tools
											p.
												Your bones don’t break, mine do. That’s clear. Your cells react to bacteria and viruses differently than mine. You don’t get sick, I do. That’s also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We’re on the same curve, just on opposite ends.

											p.
												Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they’re actually proud of that shit.
										div.col-sm-12.mt--2
											h4.color--primary Tulare Federal Financial Education Speaker Series
											p.
												Let local credit union veterans visit your school or business and dispell the myths of banking and budgeting and help your students or employees learn to be financially responsible and plan for their future.

											p.
												The three-part lecture series consists of a presentation and open dialogue that can be invaluable for young adults dealing with a lot of realities that surround
