extends /layout

block content
	section.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		div.background-image-holder(style="background-image: url(/img/header/loans-credit-cards.jpg); background-position:center bottom; opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/loans-credit-cards.jpg" alt="" srcset="/img/header/loans-credit-cards.jpg 1600w, /img/header/loans-credit-cards.jpg 300w, /img/header/loans-credit-cards.jpg 768w, /img/header/loans-credit-cards.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			//-div.row.text-center
				div.col-sm-12
					h1 Credit Cards
	//-section
		div.container
			div.row
				div.col-md-12.text-center
					a.btn.btn-blue.type--uppercase(href="/loans")
						i.icon.icon--xs.fa.fa-arrow-left.color--blue(style="margin-right:20px;")
						span.btn__text Back to Loans

	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue HSA Accounts
	section
		div.container

			div.row
				div.col-md-12
					h5.color--blue Health Savings Account (HSA)
					p.
						HSA is a tax favored savings account that is combined with a qualifying high deductible health insurance plan. Employees who utilize a health savings account can deposit (contribution form) tax-deducible funds into the HSA to cover 100% of their health plan’s deductible, as well as other qualified medical, dental, and prescription expenses.
			
			div.row.mt--2
				div.col-md-12
					p.unmarg.
						• $5 balance earns dividends
					p.unmarg.
						• Free debit card
				div.col-md-12
					a.btn.btn-blue(href="#")
						span.btn__text Apply Now
					p.final.
						*Monthly maintenance fee of $2 applies for balances under $2000.
				
