extends /layout

block content
	section#hero-cover.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		div.background-image-holder(style="background: url(/img/header/invest.jpg); opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/invest.jpg" alt="" srcset="/img/header/invest.jpg 1600w, /img/header/invest.jpg 300w, /img/header/invest.jpg 768w, /img/header/invest.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			div.row
				div.col-sm-12
					h1.text-center Invest
			div.vc_empty_space(style="height: 32px")
				span.vc_empty_space_inner
	section
		div.container
			div.row
				div.col-sm-12.margin-bottom-30
					div.text-center
						i.fa.fa-money.icon.icon--large.color--primary
						h4.color--primary The Savings Account
					//-h4.text-center.color--primary The Savings Account
					p.
						The cornerstone of any strong and sound savings program begins with The Savings Account. Here at Tulare Federal, our Savings Account comes fully loaded.
					p.unmarg.
						• Earns competitive monthly dividends with a balance of just $25.00
					p.unmarg.
						• Can be used as loan collateral
					p.unmarg.
						• Must have a minimum balance of $25.00 that is required for Credit Union lifetime membership
					p.unmarg.
						• Deposits can be made in person, by mail, by allotment or direct deposit
					p.unmarg.
						• Offers flexibility with withdrawals at a branch, requested over the phone to be mailed, or by using a Tulare Federal Visa Debit Card
				
				div.col-sm-12.margin-bottom-30.text-center
					h4.color--primary Savings Rates
					p.
						This rate schedule includes rates applicable to specified Savings and Checking Accounts. This schedule is incorporated as a part of your account agreement with the Credit Union. Please contact the Credit Union for the most recent information. This schedule is subject to change at any time, without notice. APY= Annual Percentage Yield
					a.btn.btn--primary-2(href="/rates#savings-rates") 
						span.btn__text View Savings Rates
			hr
			div.row
				div.col-sm-12.margin-bottom-30
					div.text-center
						i.fa.fa-dollar.icon.icon--large.color--primary
						h4.color--primary Money Market Accounts
					//-h4.text-center.color--primary Money Market Accounts
					p.
						As excellent income building accounts, Money Market accounts are great if you are saving money for a large purchase, a remodeling project or even retirement. A Tulare Federal Money Market offers greater dividends that are earned and paid monthly.
					p.unmarg.
						• A minimum balance of $2,500 to earn competitive dividends
					p.unmarg.
						• The daily balance determines your rate
					p.unmarg.
						• Flexibility with unlimited and no minimum term
			hr
			div.row
				div.col-sm-12.margin-bottom-30
					div.text-center
						i.fa.fa-calculator.icon.icon--large.color--primary
						h4.color--primary IRA Investment Accounts

					p.
						If you want to earn more money for your retirement, the Individual Retirement Account (IRA) Investment Accounts have the same requirements and limitations as regular IRAs. At Tulare Federal, your IRA:
					p.unmarg.
						• Minimum balance required is $5
					p.unmarg.
						• Has no setup or maintenance fees
					p.unmarg.
						• Allows direct deposit each pay period
					p.unmarg.
						• Earns daily dividends, which are paid monthly
					p.unmarg.
						• Choose from Traditional or Roth based on your special needs
			hr
			div.row
				div.col-sm-12.margin-bottom-30
					div.text-center
						i.fa.fa-tree.icon.icon--large.color--primary
						h4.color--primary Holiday Club
					p.
						The Holiday Club is a convenient way to budget for the holiday season. You can start saving for the holidays any time of the year. Deposit as little or as much as you would like by direct deposit or over the counter.
