extends /layout

block content
	section#hero-cover.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		div.background-image-holder(style="background-image: url(/img/header/loans-index.jpg); background-position:center bottom; opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/loans-index.jpg" alt="" srcset="/img/header/loans-index.jpg 1600w, /img/header/loans-index.jpg 300w, /img/header/loans-index.jpg 768w, /img/header/loans-index.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			div.row
				div.col-sm-12
					h1.text-center Loans
			div.vc_empty_space(style="height: 32px")
				span.vc_empty_space_inner
	section
		div.container
			

			div.row.margin-bottom-30
				div.col-sm-12
					h4.color--primary.text-center Low Rates, Flexible Terms. Apply Today!
					p.
						With busy lifestyles, you can turn to Tulare Federal as the best choice for your borrowing needs. You will find a variety of loans including, Auto, Recreational, Mortgage, Personal, and Credit Cards. Take advantage of our low rates, no hassle applications process, and flexible terms, and apply today.
			

			hr

			
			div.row.margin-bottom-30

				div.col-md-4.text-center
					i.icon.icon--large.fa.fa-car.block
					a.btn.btn--primary-2(href="/loans/autoloans")
						span.btn__text Auto
					p.
						Get pre-approved at the Credit Union before visiting the dealership.

				div.col-md-4.text-center
					i.icon.icon--large.fa.fa-motorcycle.block
					a.btn.btn--primary-2(href="/loans/recreationalloans")
						span.btn__text Recreational
					p.
						Finance an ATV, motorcycle, boat, travel trailer, RV and more at Tulare Federal.

				div.col-md-4.text-center
					i.icon.icon--large.fa.fa-home.block
					a.btn.btn--primary-2(href="/loans/mortgages")
						span.btn__text Mortgage
					p.
						We’ve helped thousands of members realize their home ownership dream.

			div.row.margin-bottom-30

				div.col-md-4.text-center
					i.icon.icon--large.fa.fa-file.block
					a.btn.btn--primary-2(href="/loanspersonalloans")
						span.btn__text Personal
					p.
						A variety of personal loans are available to members who need additional cash.

				div.col-md-4.text-center
					i.icon.icon--large.fa.fa-credit-card.block
					a.btn.btn--primary-2(href="/loanscreditcards")
						span.btn__text Credit Cards
					p.
						The convenience and buying power of Visa for less than most other financial institutions.

				div.col-md-4.text-center
					i.icon.icon--large.fa.fa-sun-o.block
					a.btn.btn--primary-2(href="/loanssolarloans")
						span.btn__text Solar
					p.
						Add solar panels to your home. Lower your energy bills and earn tax credits.

			hr

			div.row.margin-bottom-30
				div.col-sm-12
					h4.color--primary.text-center Rates
					p.
						Let Tulare Federal do the leg work for you! We consistently shop the local rates in order to offer our Member-Owners competitively priced rates that fit your needs. Please contact the Credit Union for the most recent information. This schedule is subject to change at any time, without notice. APR=Annual Percentage Rates
			div.row.text-center
				div.col-sm-12
					a.btn.btn--primary-2(href="/rates")
						span.btn__text View Loan Rates Chart

			hr
					
			div.row.text-center
				div.col-sm-12
					h4.color--primary Loan Calculators

					a.btn.btn--primary-2(href="#")
						span.btn__text View Loan Rates Chart
					a.btn.btn--primary-2(href="#")
						span.btn__text Retirement Planning Claculator
					a.btn.btn--primary-2(href="#")
						span.btn__text Home Loan Calculator