extends /layout

block content
	section.cover.height-30.imagebg.parallax(data-overlay="5")
		//- background image
		div.background-image-holder(style="background-image: url(/img/header/loans-index.jpg); background-position:center bottom; opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/loans-index.jpg" alt="" srcset="/img/header/loans-index.jpg 1600w, /img/header/loans-index.jpg 300w, /img/header/loans-index.jpg 768w, /img/header/loans-index.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			//-div.row
				div.col-sm-12
					h1 Loans
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Loans
	section#loan-nav
		div.container
			div.row.mb--3
				div.col-sm-12
					h5.color--blue Low Rates, Flexible Terms. Apply Today!
					p.
						With busy lifestyles, you can turn to Tulare Federal as the best choice for your borrowing needs. You will find a variety of loans including, Auto, Recreational, Mortgage, Personal, and Credit Cards. Take advantage of our low rates, no hassle applications process, and flexible terms, and apply today.

			div.row.masonry.mb--3
				.masonry__container
					.loan-type.col-md-4.imagebg.masonry__item(data-overlay="5")
						a(href="/loans/autoloans")
							.background-image-holder
								img(src="/img/header/loans-auto.jpg")
							//-i.icon.icon--large.fa.fa-car.block
							.container.pt--1.pb--2
								h4.color--white Auto
								p.hr-white-before.
									Get pre-approved at the Credit Union before visiting the dealership.

					.loan-type.col-md-4.imagebg.masonry__item(data-overlay="5")
						
						a(href="/loans/recreationalloans")
							.background-image-holder
								img(src="/img/header/loans-recreational.jpg")
							//-i.icon.icon--large.fa.fa-car.block
							.container.pt--1.pb--2
								h4.color--white Recreational Loans
								p.hr-white-before.
									Finance an ATV, motorcycle, boat, travel trailer, RV and more at Tulare Federal.

					.loan-type.col-md-4.imagebg.masonry__item(data-overlay="5")
						a(href="/loans/mortgages")
							.background-image-holder
								img(src="/img/header/loans-mortgage.jpg")
							//-i.icon.icon--large.fa.fa-car.block
							.container.pt--1.pb--2
								h4.color--white Home Loans
								p.hr-white-before.
									We’ve helped thousands of members realize their home ownership dream.


					.loan-type.col-md-4.imagebg.masonry__item(data-overlay="5")
						
						a(href="/loans/personalloans")
							.background-image-holder
								img(src="/img/header/loans-personal.jpg")
							.container.pt--1.pb--2
								h4.color--white Personal
								p.hr-white-before.
									A variety of personal loans are available to members who need additional cash.

					.loan-type.col-md-4.imagebg.masonry__item(data-overlay="5")
						
						a(href="/loans/creditcards")
							.background-image-holder
								img(src="/img/header/loans-credit-cards.jpg")
							.container.pt--1.pb--2
								h4.color--white Credit Cards
								p.hr-white-before.
									The convenience and buying power of Visa for less than most other financial institutions.

					.loan-type.col-md-4.imagebg.masonry__item(data-overlay="5")
						a(href="/loans/solarloans")
							.background-image-holder
								img(src="/img/header/loans-solar.jpg")
							.container.pt--1.pb--2
								h4.color--white Solar
								p.hr-white-before.
									Add solar panels to your home. Lower your energy bills and earn tax credits.

			

			div.row
				div.col-sm-12
					h5.color--blue Rates
					p.
						Let Tulare Federal do the leg work for you! We consistently shop the local rates in order to offer our Member-Owners competitively priced rates that fit your needs. Please contact the Credit Union for the most recent information. This schedule is subject to change at any time, without notice. APR=Annual Percentage Rates
			div.row.mt--1.mb--1
				div.col-sm-12
					a.btn.btn-blue(href="/rates")
						span.btn__text View Loan Rates Chart

					
			div.row
				div.col-sm-12
					h5.color--blue Loan Calculators
			div.row.mb--1
				div.col-sm-12
					a.btn.btn-blue(href="#")
						span.btn__text View Loan Rates Chart
			div.row.mb--1
				div.col-sm-12
					a.btn.btn-blue(href="#")
						span.btn__text Retirement Planning Claculator
			div.row.mb--1
				div.col-sm-12
					a.btn.btn-blue(href="#")
						span.btn__text Home Loan Calculator
