extends /layout

block content
	//- header section
	section#hero-cover.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		div.background-image-holder(style="background: url(/img/header/mobile.jpg); opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/mobile.jpg" alt="" srcset="/img/header/mobile.jpg 1600w, /img/header/mobile.jpg 300w, /img/header/mobile.jpg 768w, /img/header/mobile.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			div.row
				div.col-sm-12
					h1.text-center Mobile
			div.vc_empty_space(style="height: 32px")
				span.vc_empty_space_inner

	//- Main content section
	section#content
		div.container
			div.row.text-center.margin-bottom-30
				div.col-md-12
					h4.color--primary Put the power of banking in the palm of your hand
					p.
						No matter where you travel or what time zone you’re in, get access to your accounts when you need it most! With the Tulare Federal mobile app you can conveniently and securely check your account balances, view recent transactions, transfer money between accounts, pay bills, find ATMs & branch locations.

			div.row
				div.col-md-6
					img(src="/img/mobile/mobile.jpg")
				div.col-md-6
					h4.color--primary Remote Deposit
					p.
						Remote Deposit Capture Download the app and deposit in a snap! Depositing checks has never been easier! Save time and money by depositing your checks into your account from wherever you are, whenever you want. Not only is it secure, but it’s also FREE!

					p.
						Requirements for Remote Deposit Capture
					p.unmarg.
						• You have been a member with the Credit Union for a minimum of ninety (90) days
					p.unmarg.
						• You are eighteen (18) years of age or older
					p.unmarg.
						• You maintain an active checking account
					p.unmarg.
						• You are a member of good standing with the Credit Union
					p.
						To get started, download the Tulare Federal App for iPhone and Android.
					p.
						Additional Tips:
					p.unmarg.
						•Verify that the back of your check is signed.
					p.unmarg.
						•Flatten folded checks before taking your photos.
					p.unmarg.
						•Keep the phone flat and steady above the check when taking your photo.
					p.unmarg.
						•Make sure the entire check image is visible and in focus.

			div.row.margin-top-30.text-center
				div.col-md-12
					p.
						No login. No waiting. Want to take a peek at your account balance? Our mobile banking app’s new Instant Balance feature lets you view up to six accounts from the login screen of our mobile app—no password necessary. Just tap the new Instant Balance button on the login screen to begin the setup process.
					h4.color--primary Download the latest version of our mobile app to get started!
					a(href="https://itunes.apple.com/us/app/tulare-county-federal-credit-union/id672861009?mt=8" target="_blank")
						img(src="/img/mobile/app-store.png")
					a(href="https://play.google.com/store/apps/details?id=com.tularecountyfcu.mobile" target="_blank")
						img(src="/img/mobile/g-play-store.png")