extends /layout

block content
	section#hero-cover.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		div.background-image-holder(style="background-image: url(/img/header/rates.jpg); background-position:center bottom; opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/rates.jpg" alt="" srcset="/img/header/rates.jpg 1600w, /img/header/rates.jpg 300w, /img/header/rates.jpg 768w, /img/header/rates.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			div.row.text-center
				div.col-sm-12
					h1 Rates
			div.vc_empty_space(style="height: 32px")
				span.vc_empty_space_inner
	section
		div.container

			div#loan-rates.row.margin-bottom-30.text-center
				div.col-md-12
					h4.color--primary= contentful.Rates[0].loanRatesEffective
					//-EFFECTIVE August 1, 2017
					!=contentful.Rates[0].loanRates
					//-table.table--alternate-row
						thead
							tr
								th Loan Type
								th Loan Term
								th Min. Loan Amount
								th APR From
								th APR To
								th Est. Monthly Payment based on “as Low As” Rate
						tbody
							tr
								td
									strong New Autos (2017-2015)
									br
									| Up to 100% of MSRP or High Blue Book
								td Up to 48 Months
								td $3,500+
								td 2.25%
								td 17.90%
								td $21.80 per $1,000
							tr
								td
								td Up to 60 Months
								td $10,000+
								td 2.50%
								td 17.90%
								td $17.75 per $1,000
							tr
								td
								td Up to 66 Months
								td $15,000+
								td 2.75%
								td 17.90%
								td $16.34 per $1,000
							tr
								td
								td Up to 72 Months
								td $20,000+
								td 2.99%**
								td 17.90%
								td $15.19 per $1,000
							tr
								td
								td Up to 78 Months
								td $25,000+
								td 3.25%
								td 17.90%
								td $14.24 per $1,000
							tr
								td
								td Up to 84 Months
								td $30,000+
								td 3.49%
								td 17.90%
								td $13.44 per $1,000
							tr
								td
								td
								td
								td
								td
								td
							tr
								td
									strong Used Autos (2014-2010)
									br
									| Up to 100% of MSRP or High Blue Book
								td Up to 48 Months
								td $7,500+
								td 2.99%
								td 17.90%
								td $23.13 per $1,000
							tr
								td
								td Up to 60 Months
								td $10,000+
								td 3.25%
								td 17.90%
								td $18.08 per $1,000
							tr
								td
								td Up to 66 Months
								td $15,000+
								td 3.50%
								td 17.90%
								td $16.68 per $1,000
							tr
								td
								td Up to 72 Months
								td $20,000+
								td 3.75%
								td 17.90%
								td $15.53 per $1,000
							tr
								td
								td Up to 78 Months
								td $25,000+
								td 3.99%
								td 17.90%
								td $14.58 per $1,000
							tr
								td
								td Up to 84 Months
								td $30,000+
								td 4.25%
								td 17.90%
								td $13.78 per $1,000
							tr
								td
								td
								td
								td
								td
								td
							tr
								td
									strong 2009-2004
									br
									| Up to 100% of MSRP or High Blue Book
								td Up to 36 Months
								td $3,000+
								td 3.25%
								td 17.90%
								td $29.19 per $1,000
							tr
								td
								td Up to 48 Months
								td $7,500+
								td 3.50%
								td 17.90%
								td $22.36 per $1,000
							tr
								td
								td Up to 60 Months
								td $10,000+
								td 3.99%
								td 17.90%
								td $18.41 per $1,000
							tr
								td
								td Up to 72 Months
								td $20,000+
								td 4.50%
								td 17.90%
								td $15.87 per $1,000
							tr
								td
									strong 2003 & Older
									br
									| Up to 100% of MSRP or High Blue Book
								td Up to 36 Months
								td $3,000+
								td 4.75%
								td 17.90%
								td $29.86 per $1,000
							tr
								td
								td Up to 48 Months
								td $7,500+
								td 4.99%
								td 17.90%
								td $23.02 per $1,000
							tr
								td
								td Up to 60 Months
								td $10,000+
								td 5.25%
								td 17.90%
								td $18.99 per $1,000
							tr
								td
								td
								td
								td
								td
								td
							tr
								td
									strong New Recreational Vehicles (2016-2015)
									br
									| Up to 100% of MSRP or High Blue Book
								td Up to 48 Months
								td $10,000+
								td 3.75%
								td 17.90%
								td $22.47 per $1,000
							tr
								td
								td Up to 60 Months
								td $15,000+
								td 4.25%
								td 17.90%
								td $18.53 per $1,000
							tr
								td
								td Up to 72 Months
								td $15,000+
								td 4.85%
								td 17.90%
								td $16.04 per $1,000
							tr
								td
								td Up to 84 Months
								td $20,000+
								td 5.25%
								td 17.90%
								td $14.25 per $1,000
							tr
								td
								td Up to 96 Months
								td $25,000+
								td 5.50%
								td 17.90%
								td $12.90 per $1,000
							tr
								td
								td Up to 120 Months
								td $30,000+
								td 5.75%
								td 17.90%
								td $10.98 per $1,000
							tr
								td
								td Up to 144 Months
								td $50,000+
								td 6.75%
								td 17.90%
								td $10.15 per $1,000
							tr
								td
								td
								td
								td
								td
								td
							tr
								td
									strong Used Recreational Vehicles (2014-2011)
									br
									| Up to 100% of MSRP or High Blue Book
								td Up to 48 Months
								td $10,000+
								td 4.25%
								td 17.90%
								td $22.69 per $1,000
							tr
								td
								td Up to 60 Months
								td $15,000+
								td 4.50%
								td 17.90%
								td $18.64 per $1,000
							tr
								td
								td Up to 72 Months
								td $15,000+
								td 5.25%
								td 17.90%
								td $16.22 per $1,000
							tr
								td
								td Up to 84 Months
								td $20,000+
								td 5.75%
								td 17.90%
								td $14.49 per $1,000
							tr
								td
								td Up to 96 Months
								td $25,000+
								td 6.25%
								td 17.90%
								td $13.26 per $1,000
							tr
								td
								td Up to 120 Months
								td $30,000+
								td 6.75%
								td 17.90%
								td $11.48 per $1,000
							tr
								td
								td Up to 144 Months
								td $50,000+
								td 7.25%
								td 17.90%
								td $10.42 per $1,000
							tr
								td
								td
								td
								td
								td
								td
							tr
								td Signature Loans
								td Up to 12 Months
								td $1,000+
								td 8.90%
								td 17.90%
								td $87.41 per $1,000
							tr
								td
								td Up to 24 Months
								td $2,500+
								td 9.25%
								td 17.90%
								td $45.80 per $1,000
							tr
								td
								td Up to 36 Months
								td $5,000+
								td 9.50%
								td 17.90%
								td $32.03 per $1,000
							tr
								td
								td
								td
								td
								td
								td
							tr
								td Share Secured Loans
								td Up to 60 Months
								td $1,000+
								td(colspan='3') 3.50% + Current rate paid on share or CD
					
					h4.color--primary Credit Cards

					!=contentful.Rates[0].creditCardTypes
					//-table.table--alternate-row
						thead
							tr
								th Credit Card Types
								th Annual Fee
								th APR*
								th Apply
						tbody
							tr
								td
									strong Platinum Visa
								td No Annual Fee
								td 11.90%
								td
									a Apply Now
							tr
								td
									strong Classic Visa
								td No Annual Fee
								td 14.90%
								td
									a Apply Now
							tr
								td
									strong Student Visa
								td No Annual Fee
								td 15.90%
								td
									a Apply Now
					!=contentful.Rates[0].lineOfCredit
					//-table.table--alternate-row
						thead
							tr
								th Type
								th Features
								th APR*
								th Apply
						tbody
							tr
								td
									strong Line of Credit Signature
								td Overdraft Protection
								td 11.90%
								td
									a Apply Now

								
					
			hr
			
			div#savings-rates.row.margin-bottom-30.text-center

				div.col-md-12
					h4.color--primary Savings Rates
					p= contentful.Rates[0].savingsRatesEffective
					//- EFFECTIVE August 1, 2017

					!=contentful.Rates[0].savingsRates
					//-table.table-alternate-row
						thead
							tr
								th Account
								th Rate Type
								th Min Opening Balance
								th Min to Earn Dividend
								th Dividend Rate
								th APY
								th Dividend Declaration Date
						tbody
							tr
								td Share Savings
								td Variable
								td $25
								td $25
								td 0.10%
								td 0.10%
								td Monthly
							tr
								td Checking
								td Variable
								td $25
								td $0
								td 0.00%
								td 0.00%
								td Monthly
							tr
								td Money Market
								td Variable
								td $2,500, $20,001
								td $20,000 & over
								td 0.10%, 0.10%
								td 0.10%, 0.10%
								td Monthly
							tr
								td Holiday Savings
								td Variable
								td $25
								td $25
								td 0.10%
								td 0.10%
								td Monthly
							tr
								td IRA Shar Savings
								td Variable
								td $50
								td $5
								td 0.15%
								td 0.15%
								td Monthly
							tr
								td HSA Accounts
								td Variable
								td $0
								td $5
								td 0.10%
								td 0.10%
								td Monthly

			div#ira.row.margin-bottom-30.text-center

				div.col-md-12
					h4.color--primary Share and IRA Certificates
					p= contentful.Rates[0].iraRatesEffective
					//- EFFECTIVE August 1, 2017

					!=contentful.Rates[0].sHareAndIraCertificates
					//-table.table--alternate-row
						thead
							tr
								th Account
								th Rate Type
								th Min Opening Balance
								th Min to Earn Dividend
								th Dividend Rate
								th APY
								th Dividend Declaration Date
						tbody
							tr
								td 3 Months
								td Fixed
								td $1000
								td $1000
								td 0.10%
								td 0.10%
								td Monthly
							tr
								td 6 Months
								td Fixed
								td $1000
								td $1000
								td 0.15%
								td 0.15%
								td Monthly
							tr
								td 12 Months
								td Fixed
								td $1000
								td $1000
								td 0.75%
								td 0.75%
								td Monthly
							tr
								td 18 Months
								td Fixed
								td $1000
								td $1000
								td 0.75%
								td 0.75%
								td Monthly
							tr
								td 24 Months
								td Fixed
								td $1000
								td $1000
								td 0.85%
								td 0.85%
								td Monthly
							tr
								td 36 Months
								td Fixed
								td $1000
								td $1000
								td 1.00%
								td 1.00%
								td Monthly
							tr
								td 48 Months
								td Fixed
								td $1000
								td $1000
								td 1.15%
								td 1.15%
								td Monthly
							tr
								td 60 Months
								td Fixed
								td $1000
								td $1000
								td 1.25%
								td 1.25%
								td Monthly
