extends layout

block content
	section#hero-cover.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		div.background-image-holder(style="background-image: url(/img/header/loans-recreational.jpg); background-position:center bottom; opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/loans-recreational.jpg" alt="" srcset="/img/header/loans-recreational.jpg 1600w, /img/header/loans-recreational.jpg 300w, /img/header/loans-recreational.jpg 768w, /img/header/loans-recreational.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			div.row
				div.col-sm-12
					h1.text-center Recreational Loans
			div.vc_empty_space(style="height: 32px")
				span.vc_empty_space_inner
	section
		div.container
			div.row
				div.col-md-12.text-center
					a.btn.btn--primary-2(href="/loans")
						i.icon.icon--xs.fa.fa-arrow-left.color--white(style="margin-right:20px;")
						span.btn__text Back to Loans
	section
		div.container

			div.row.margin-bottom-30.margin-bottom-30

				div.col-md-12.text-center
					p.
						You can also finance an ATV, motorcycle, boat, motor home, travel trailer, jet ski or RV at Tulare Federal. Low rates, flexible terms and a streamlined application process make it easy to finance your vehicle. Even if you’ve signed on the dotted line somewhere else, you can refinance your vehicle at Tulare Federal.
					
				div.col-md-12.margin-bottom-30

					p.
						Call us at 559-686-1791 to find out how much you can save today!
					
					
			div.row.text-center
				
				div.col-md-6
					a.btn.btn--primary-2
						span.btn__text Compare Plans

				div.col-md-6
					a.btn.btn--primary-2
						span.btn__text Apply Now

			hr
			
			div.row

				div.col-md-6
					
					h4.color--primary Motorcycles
					p.unmarg.
						Up to 100% financing of value plus sales tax for new & used motorcycles
					p.unmarg.
						Flexible terms available
					
					h4.color--primary.margin-top-30 RVs & Travel Trailers
					p.unmarg.
						Up to 100% financing of the vehicle value for new and used RVs
					p.unmarg.
						Up to 100% financing of the vehicle value for new and used travel trailers
					p.unmarg.
						Flexible terms available
					
					h4.color--primary.margin-top-30 Boats, Yachts, & Airplanes
					p.unmarg.
						Up to 100% financing of the value for new boats, yachts, & airplanes
					p.unmarg.
						Flexible terms available

					h4.color--primary.margin-top-30 Jet Skis & Personal Watercraft
					p.unmarg.
						Up to 100% financing of value for new personal watercraft
					p.unmarg.
						Flexible terms available
				div.col-md-6
					img(src="/img/loans/recreational-loans.jpg")