extends /layout

block content
	section.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		div.background-image-holder(style="background-image: url(/img/header/loans-credit-cards.jpg); background-position:center bottom; opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/loans-credit-cards.jpg" alt="" srcset="/img/header/loans-credit-cards.jpg 1600w, /img/header/loans-credit-cards.jpg 300w, /img/header/loans-credit-cards.jpg 768w, /img/header/loans-credit-cards.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			//-div.row.text-center
				div.col-sm-12
					h1 Credit Cards
	//-section
		div.container
			div.row
				div.col-md-12.text-center
					a.btn.btn-blue.type--uppercase(href="/loans")
						i.icon.icon--xs.fa.fa-arrow-left.color--blue(style="margin-right:20px;")
						span.btn__text Back to Loans

	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Resources
	section
		div.container

			div.row
				div.col-md-12
					h5.color--blue Frequently Requested Forms
			
			div.row.mt--2
				div.col-md-12
					p.unmarg.
						• Automated Clearing House (ACH) Form
					p.unmarg.
						• Debit Card Request Form
					p.unmarg.
						• Direct Deposit Form
					p.unmarg.
						• Check Photocopy Request
					p.unmarg.
						• Payment Dererral Request
					p.unmarg.
						• VISA Travel Authorization
					p.unmarg.
						• Address Change	
			
			div.row.mt--1
				div.col-md-12
					h5.color--blue Disclosures
			
			div.row.mt--2
				div.col-md-12
					p.unmarg.
						• USA Patriot Act
					p.unmarg.
						• EFT Disclosure
					p.unmarg.
						• Truth Savings
					p.unmarg.
						• Online Banking Disclosure
					p.unmarg.
						• Fee Schedule as of Feb 1, 2017
					p.unmarg.
						• Member Privacy Disclosure
					p.unmarg.
						• General Terms & Conditions
			
		
