extends /layout

block content
	section.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		div.background-image-holder(style="background-image: url(/img/header/loans-credit-cards.jpg); background-position:center bottom; opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/loans-credit-cards.jpg" alt="" srcset="/img/header/loans-credit-cards.jpg 1600w, /img/header/loans-credit-cards.jpg 300w, /img/header/loans-credit-cards.jpg 768w, /img/header/loans-credit-cards.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			//-div.row.text-center
				div.col-sm-12
					h1 Credit Cards
	//-section
		div.container
			div.row
				div.col-md-12.text-center
					a.btn.btn-blue.type--uppercase(href="/loans")
						i.icon.icon--xs.fa.fa-arrow-left.color--blue(style="margin-right:20px;")
						span.btn__text Back to Loans

	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Retire
	section
		div.container

			div.row
				div.col-md-12
					h5.color--blue IRA (Individual Retirement Accounts) 
					p.
						Look at the different IRA options and see what's best for you to earn for retirement.
				
			div.row.mt--1
				div.col-md-12
					h5.color--blue Traditional IRA
					p.
						Traditional IRA contributions can be tax deductible in the year the contributions are made. The taxes on these earnings are deferred until the time of withdrawal. Traditional IRAs are funded with pre-tax dollars.
					                      
				div.col-md-12
					a.btn.btn-blue(href="#")
						span.btn__text Apply Now                       

			div.row.mt--1
				div.col-md-12
					h5.color--blue Roth IRA
					p.
						Roth IRAs allow only non-deductible contributions but feature tax-free withdrawals for certain distribution reasons after a five-year holding period. 
			
			div.row.mt--2.final
				div.col-md-12
					p.unmarg.
						• $50 opening balance 
					p.unmarg.
						• Allows contributions each pay period
					p.unmarg.
						• Earns daily dividends, which are paid monthly
					p.
						*Quarterly administration fee of $5 applies
				div.col-md-12
					a.btn.btn-blue(href="#")
						span.btn__text Apply Now  
				
				
		

			
