extends /layout

block content
	section.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		div.background-image-holder(style="background-image: url(/img/header/loans-credit-cards.jpg); background-position:center bottom; opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/loans-credit-cards.jpg" alt="" srcset="/img/header/loans-credit-cards.jpg 1600w, /img/header/loans-credit-cards.jpg 300w, /img/header/loans-credit-cards.jpg 768w, /img/header/loans-credit-cards.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			//-div.row.text-center
				div.col-sm-12
					h1 Credit Cards
	//-section
		div.container
			div.row
				div.col-md-12.text-center
					a.btn.btn-blue.type--uppercase(href="/loans")
						i.icon.icon--xs.fa.fa-arrow-left.color--blue(style="margin-right:20px;")
						span.btn__text Back to Loans

	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Savings Account
	section
		div.container

			div.row
				div.col-md-12
					h5.color--blue Main Share
					p.
						Earns competitive monthly dividends with a balance of just $25.00.
			
			div.row.mt--2
				div.col-md-12
					p.unmarg.
						• $25 opening deposit
					p.unmarg.
						• Can be used as loan collateral
					p.unmarg.
						• Deposits can be made in person, by mail, by allotment or direct deposit 
					p.unmarg.
						• Offers flexibility with withdrawals at a branch, requested over the phone to be mailed			
			
			div.row.mt--1
				div.col-md-12
					h5.color--blue Transfer to Minor
					p.
						An easy way to get tomorrow's future saving.
			
			div.row.mt--2
				div.col-md-12
					p.unmarg.
						• $25 opening deposit
					p.unmarg.
						• Earns competitive montly dividends
					p.unmarg.
						• Free digital banking	

			div.row.mt--1
				div.col-md-12
					h5.color--blue Certificates
					p.
						Certificates of deposit are bank investment instruments that carry a fixed interest rate and are held for a specified length of term.
			
			div.row.mt--2
				div.col-md-12
					p.unmarg.
						• No minimum balance
					p.unmarg.
						• Interest compounded and earned monthly
					p.unmarg.
						• Choose from 3 to 60 month certificate terms
					p.unmarg.
						• No monthly maintenance fees                                        

			div.row.mt--1
				div.col-md-12
					h5.color--blue Holiday Club
					p.
						The Holiday Club is a convenient way to budget for the holiday season. You can start saving for the holidays any time of the year. Deposit as little or as much as you would like by direct deposit or through Digital Banking.
			
			div.row.mt--2
				div.col-md-12
					p.unmarg.
						• $25 opening deposit
					p.unmarg.
						• Flexibility with unlimited and no minimum terms 
					p.unmarg.
						• No monthly maintenance fees

			div.row.mt--1
				div.col-md-12
					h5.color--blue Money Market
					p.
						Money Market funds allow easy access by individuals, which is an advantage over different investment vehicles such as stocks.
			
			div.row.mt--2.final
				div.col-md-12
					p.unmarg.
						• A minimum balance of $2,500 to earn competitive dividend rates
					p.unmarg.
						• Flexibility with unlimited and no minimum terms 
					p.unmarg.
						• No monthly maintenance fees
                                      
                                    
