extends layout

block content
  section.cover.height-100.imagebg.parallax.text-center(data-overlay="4")
    div.background-image-holder(style="background: url(/img/cowork-4.jpg); opacity: 1;")
      img.attachment-full.size-full(width="1600" height="1067" src="/img/cowork-4.jpg" alt="" srcset="/img/cowork-4.jpg 1600w, /img/cowork-4.jpg 300w, /img/cowork-4.jpg 768w, /img/cowork-4.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
    div.container.pos-vertical-center
     div.row
      div.col-sm-12
       div.wpb_single_image.wpb_content_element.vc_align_center
        figure.wpb_wrapper.vc_figure
         div.vc_single_image-wrapper.vc_box_border_grey
          img.vc_single_image-img.attachment-full(width="1634" height="448" src="/img/headline-1.png" alt="" srcset="/img/headline-1.png 1634w, /img/headline-1.png 300w, /img/headline-1.png 768w, /img/headline-1.png 1024w" sizes="(max-width: 1634px) 100vw, 1634px")
      div.vc_empty_space(style="height: 32px")
       span.vc_empty_space_inner
     div.wpb_text_column.wpb_content_element
      div.wpb_wrapper
       h3(style="text-align: center;") Streamline your workflow with Stack.
       p(style="text-align: center;")
        a.btn.btn--primary.type--uppercase(href="#")
         span.btn__text VIEW THE DEMOS
  div.container(style="margin-top:50px;")
    div.row
      div.masonry
       div.masonry__container.masonry--active(style="position: relative; height: 1987px;")
        div.masonry__item.col-sm-6.col-xs-12(style="position: absolute; left: 0px; top: 0px;")
         div.masonry__item.col-sm-6.col-xs-12.filter-beach(data-masonry-filter="Beach" style="position: absolute; left: 0px; top: 0px;")
         a(href="img/photography-6.jpg" data-lightbox="gallery")
          img(alt="Image" src="img/photography-6.jpg")
        //end masonry item
        div.masonry__item.col-sm-6.col-xs-12.filter-beach(data-masonry-filter="Beach" style="position: absolute; left: 585px; top: 0px;")
          a(href="img/photography-12.jpg" data-lightbox="gallery")
            img(alt="Image" src="img/photography-12.jpg")
        //end masonry item
        div.masonry__item.col-sm-6.col-xs-12.filter-beach(data-masonry-filter="Beach" style="position: absolute; left: 585px; top: 474px;")
         a(href="img/photography-9.jpg" data-lightbox="gallery")
          img(alt="Image" src="img/photography-9.jpg")
        //end masonry item
        div.masonry__item.col-sm-6.col-xs-12.filter-beach(data-masonry-filter="Beach" style="position: absolute; left: 0px; top: 770px;")
          a(href="img/photography-7.jpg" data-lightbox="gallery")
            img(alt="Image" src="img/photography-7.jpg")
        //end masonry item
        div.masonry__item.col-sm-6.col-xs-12.filter-beach(data-masonry-filter="Beach" style="position: absolute; left: 0px; top: 770px;")
          a(href="img/photography-7.jpg" data-lightbox="gallery")
            img(alt="Image" src="img/photography-10.jpg")
        //end masonry item
        div.masonry__item.col-sm-6.col-xs-12.filter-beach(data-masonry-filter="Beach" style="position: absolute; left: 0px; top: 770px;")
          a(href="img/photography-7.jpg" data-lightbox="gallery")
            img(alt="Image" src="img/photography-8.jpg")