$futura = "futura-pt",sans-serif;
$garamond = "garamond-premier-pro-display",serif;

// Default font settings
$font-default = $garamond
$font-size = 16
$font-color = #555

$blue2         = #053542
$blue        = #10222B
$blueHover    = #12303f

$green    = #6B7C3E
$greenHover   = #819648

$white    = #FFFFFF
$black    = #222222

$gray     = #58595B
$gray2    = #999999
$gray3    = #E0E1E2
$gray4    = #E9EAEB

$transparent = rgba(0,0,0,0)


// Default color
$default-color = $blue

// Text highlight color
$highlight-color = $blue

// Custom image base path for axis mixins
$img-path = '/img/'

// Ligatures
$ligatures = false
