@import 'zy_settings'

//normalize-css()
//base()

h1, h2, h3, h4, h5, h6, span, .h1, .h2, .h3, .h4, .h5, .h6
	font-family $garamond
	color $gray

p
	font-family $openSans
	color $gray
	font-size 0.8em
input
	font-size 0.8em
::selection 
	background $navy /* WebKit/Blink Browsers */
	color #fff

::-moz-selection
	background: $navy /* Gecko Browsers */
	color #fff

  


// ---- misc

.btn--primary-2
	background-color $navy !important
	background $navy !important
	border none !important
	border-radius 0px !important
.btn--primary-2:hover
	background-color $navyHover

.img-responsive
	background-size cover
	background-repeat no-repeat
	background-position center center
.icon 
	margin 20px auto
.tabs li.active .tab__title span
	color $navy
	
.margin-bottom-30
	margin-bottom 30px
.margin-top-30
	margin-top 30px

a.btn
	width auto
	text-align center
	margin 20px auto 

hr 
	margin 5em auto
	border-color rgba(87, 129, 138,0.4)
	//opacity 0.4

.center-column
	margin 0 auto !important
	float none !important
	

.map-container
	min-height 500px
ul.tabs
	margin 3em auto
	border none
	text-align center
	width 100%
	
//#hero-cover

// ---- Tables

table
	font-size 0.8em
	text-align center
	thead
		tr
			th 
				text-align center
				background-color $navy
				color #fff
	tbody
		tr:nth-child(even)
			background-color rgba(0,0,0,.04) !important
		


// ---- header

#header
	position absolute
	z-index 10
	background rgba(255,255,255,1)
	width 100%
	border-bottom 0.5px rgba(255,255,255,0.4) solid
	//height 120px
	
	#menu1
		padding 0
		
		.bar__module
			a
				height inherit
				display block
		.menu-horizontal
			top 0
			font-size 16px			
			a
				color $navy !important
				padding 20px 10px
				opacity 1
				display block
				&:hover
					opacity 0.5
.logo.logo-light
	max-height 120px
	top 0
#login-button
	position absolute
	top 30px
	right 20px
	z-index 20
// ---- footer

//#footer
	//background-color #525252


// ---- Partials
#home-login
	//background #57818A
	padding 20px 0 30px 0
	position absolute
	bottom 0
	z-index 10
	width 100%
	h1, h2, h3, h4, h5, h6
		margin 0
		color #fff


#blog-slider
	.slide-image
		height 300px !important
		


// ---- Home page
#home-hero, #hero-cover
	min-height 80vh
.hamburger-toggle > i	
	color $navy
	//line-height 100px

#icon-nav
	i
		margin 20px auto
		color $navy
		font-size 3em
	.btn
		max-width 200px
		margin 0 auto


#steeve
	.text-content
		padding 10vh
		height 50vh

// ---- media queries





@media (max-width: 992px) //tablet or small desktop
	img.logo.logo-light
		margin 0 auto
	#menu1
		//background $navy
		
		.float-right
			float none
		.menu-horizontal a
			color $gray
			//padding 10px 5px
		.bar__module
			margin-bottom 0px
	#steeve
		.text-content
			padding 25px;
	div[class*='col-']:not([class*='-12'])
		margin-top 30px
		
	h1, h2, h3, h4, h5, h6
		text-align center
		
	img
		margin 0 auto
		display block
	#login-button
		right 20px
	// #home-login
	// 	position relative

@media (max-width:768px) //mobile
	.logo.logo-light
		max-height 100px	
		margin-bottom 20px !important
		max-width 90%
	#home-hero-content
		top 125px
	#home-login
		input
			margin 0 0 20px 0
	#header 
		//height 100px
		.bar
			padding 0
	#mobile-hamburger
		float right !important
	#mobile-logo
		float left !important
	#login-button
		position relative
		right 0px
		left 0px
		top 0px
		width 100%

@media (max-height: 900px) 
	#home-hero, #hero-cover
		min-height 100vh
@media (max-height: 730px) 
	#hero-cover
		padding 9em 0 1em 0
@media (max-height: 600px)
	#home-hero-content
		top 95px