@import 'zy_settings'

//normalize-css()
//base()

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
	font-family $futura
	color $gray
	text-transform uppercase
	margin-bottom 10px
	letter-spacing 15px
	font-weight 100

h1
	font-size 6em
h2 
	font-size 5em
h3
	font-size 4em
h4
	font-size 3em
h5
	font-size 2em
h6 
	font-size 1.5em
	letter-spacing 5px
	margin-bottom 10px !important


p, span
	font-family $openSans
	color $gray
	font-size 1em
input
	font-size 1em
::selection 
	background $navy /* WebKit/Blink Browsers */
	color #fff

::-moz-selection
	background: $navy /* Gecko Browsers */
	color #fff

  
.hr-green::after
	background-color $green
	height 5px
	content ""
	display block
	width 75%
	margin-top 15px
.hr-blue::after
	background-color $blue
	height 5px
	content ""
	display block
	width 75%
	margin-top 15px
.hr-green-before::before
	background-color $green
	height 5px
	content ""
	display block
	width 75%
	margin-bottom 15px
.hr-blue-before::before
	background-color $blue
	height 5px
	content ""
	display block
	width 75%
	margin-bottom 15px
.hr-white-before::before
	background-color $white
	height 5px
	content ""
	display block
	width 75%
	margin-bottom 15px
.hr-white-after::after
	background-color $white
	height 5px
	content ""
	display block
	width 75%
	margin-bottom 15px
.col-right-full-height
	position absolute
	right 0
	top 0
	height 100%
// ---- misc
// #testing-bg
// 	height 100%
// 	width 100%
// 	position fixed
// 	z-index 0
// 	opacity .1
// 	background-image url("/img/header/loans-solar.jpg")
// 	background-position center center
// 	background-repeat no-repeat
// 	background-size cover
// 	background-attachment fixed
.btn span
	font-size 1.4em
	text-transform uppercase
	letter-spacing 5px

.btn-blue
	border-radius 0px 
	border 4px $blue2 solid !important
	span
		color $blue !important
	&:hover
		border 4px $blue solid !important

		
.btn-green
	border-radius 0px 
	border 4px $green2 solid !important
	span
		color $green !important
	&:hover
		border 4px $green solid !important

.bg--gray
	background $gray2

// ---- header

#menu1
	padding 0px
	.menu-horizontal
		top 0
		>li
			padding 25px
			margin 0
			&:not(.separate)::after
				padding 10px 0 0 0
			&:hover
				background $blue
				//color $white
				>span, >a
					color $white !important
	.dropdown__content
			padding 0 !important
			border-radius 0px !important
	.menu-vertical
		li
			padding 10px 25px
			margin 0
			&:not(.separate)::after
				padding 10px 0 0 0
			&:hover
				background $blue
				color $white
				>span, >a
					color $white !important
	.logo
		max-height 100% !important
		top 0
		bottom 0
		margin auto
		position absolute
	.megamenu
		.col-sm-12
			padding 0px !important
		div[class*='col-']
			padding 25px 10px
#menu2
	padding 0 25px
	.logo
		max-height 100% !important
		top 0
		bottom 0
		margin auto
		position absolute
		




// ---- Home page

#our-services
	.col-sm-3
		padding 0 5% 25px 5%






// ---- Tables

table
	font-size 0.8em
	text-align center
	thead
		tr
			th 
				text-align center
				background-color $navy
				color #fff
	tbody
		tr:nth-child(even)
			background-color rgba(0,0,0,.04) !important
		


// ---- header

// #header
// 	position absolute
// 	z-index 10
// 	background rgba(255,255,255,1)
// 	width 100%
// 	border-bottom 0.5px rgba(255,255,255,0.4) solid
// 	//height 120px
	
// 	#menu1
// 		padding 0
		
// 		.bar__module
// 			a
// 				height inherit
// 				display block
// 		.menu-horizontal
// 			top 0
// 			font-size 16px			
// 			a
// 				color $navy !important
// 				padding 20px 10px
// 				opacity 1
// 				display block
// 				&:hover
// 					opacity 0.5
// .logo.logo-light
// 	max-height 120px
// 	top 0
// #login-button
// 	position absolute
// 	top 30px
// 	right 20px
// 	z-index 20
// ---- footer

//#footer
	//background-color #525252


// ---- Partials
#home-login
	//background #57818A
	padding 20px 0 30px 0
	position absolute
	bottom 0
	z-index 10
	width 100%
	h1, h2, h3, h4, h5, h6
		margin 0
		color #fff


#blog-slider
	.slide-image
		height 300px !important
	li
		list-style-type none
		


// ---- Home page
#home-hero, #hero-cover
	min-height 80vh
.hamburger-toggle > i	
	color $navy
	//line-height 100px

#icon-nav
	i
		margin 20px auto
		color $navy
		font-size 3em
	.btn
		max-width 200px
		margin 0 auto


#steeve
	.text-content
		padding 10vh
		height 50vh

// ---- media queries





@media (max-width: 992px) //tablet or small desktop
	// img.logo.logo-light
	// 	margin 0 auto
	// #menu1
	// 	//background $navy
		
	// 	.float-right
	// 		float none
	// 	.menu-horizontal a
	// 		color $gray
	// 		//padding 10px 5px
	// 	.bar__module
	// 		margin-bottom 0px
	// #steeve
	// 	.text-content
	// 		padding 25px;
	// div[class*='col-']:not([class*='-12'])
	// 	margin-top 30px
		
	// h1, h2, h3, h4, h5, h6
	// 	text-align center
		
	// img
	// 	margin 0 auto
	// 	display block
	// #login-button
	// 	right 20px
	// // #home-login
	// // 	position relative

@media (max-width:768px) //mobile
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
		letter-spacing 5px
	h1
		font-size 4em
	h2 
		font-size 3.5em
	h3
		font-size 3em
	h4
		font-size 2.5em
	h5
		font-size 2em
	h6 
		font-size 1.5em
	.inline-block-xs
		width 49%
		display inline-block
		float none
	.col-right-full-height
		margin-top 30px
		position relative
		height 500px
	div[class*='col-'] > div[class*='col-']
		padding 0
	#footer
		.logo
			margin-top 50px
	// .logo.logo-light
	// 	max-height 100px	
	// 	margin-bottom 20px !important
	// 	max-width 90%
	// #home-hero-content
	// 	top 125px
	// #home-login
	// 	input
	// 		margin 0 0 20px 0
	// #header 
	// 	//height 100px
	// 	.bar
	// 		padding 0
	// #mobile-hamburger
	// 	float right !important
	// #mobile-logo
	// 	float left !important
	// #login-button
	// 	position relative
	// 	right 0px
	// 	left 0px
	// 	top 0px
	// 	width 100%

@media (max-height: 900px) 
	#home-hero, #hero-cover
		min-height 100vh
@media (max-height: 730px) 
	#hero-cover
		padding 9em 0 1em 0
@media (max-height: 600px)
	#home-hero-content
		top 95px