@import 'zy_settings'

//normalize-css()
//base()

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
	font-family $futura
	color $gray
	//text-transform uppercase
	margin-bottom 10px !important
	letter-spacing 0px
	font-weight 400


h1
	font-size 9.5em
	text-transform uppercase
	letter-spacing 5px
h2
	font-size 5em
	letter-spacing -2px
	font-weight 500
h3
	font-size 4em
h4
	font-size 3em
h5
	font-size 2.5em
	font-weight 600
	line-height 1.0em
h6
	font-size 1.5em



p, span, input, select, textarea
	font-family $futura
	color $gray
	font-size 1.6em
	line-height 1.6em
input
	font-size 1em
a:hover
	text-decoration none !important
::selection
	background $blue /* WebKit/Blink Browsers */
	color $white

::-moz-selection
	background: $blue /* Gecko Browsers */
	color $white

*[class*='hr-'][class*='-after']::after, *[class*='hr-'][class*='-before']::before
	height 5px
	content ""
	display block
	width 75%
	margin 15px 0
[class*='hr-green']::after, [class*='hr-green']::before
	background-color $green
[class*='hr-blue']::after, [class*='hr-blue']::before
	background-color $blue
[class*='hr-white']::after, [class*='hr-white']::before
	background-color $white


.col-right-full-height
	position absolute
	right 0
	top 0
	height 100%


.megamenu-subhead
	padding-left 25px

// ---- misc
section
	padding-top 50px
	padding-bottom 40px

.btn
	border-radius 999px
	span
		font-size 1em !important
		text-transform uppercase
		letter-spacing 2px
		font-family $futura
		font-weight	600

	&.btn-blue
		border 4px $white solid !important
		background $blue !important
		margin-top	25px
		margin-bottom 25px
		span
			color $white !important
		&:hover
			background $white !important
			border 4px $blue solid !important
			span
				color $blue !important

	&.btn-green
		border 4px $white solid !important
		background $green !important
		span
			color $white !important
		&:hover
			border 4px $green solid !important
			background $white !important
			span
				color $green !important
	&.btn-white
		background $white
		border 4px $transparent solid !important
		span
			color $blue !important
		&:hover
			background $transparent
			border 4px $white solid !important
			span
				color $white !important
	// &.btn-blue
	// 	border 4px $blue solid !important
	// 	span
	// 		color $blue !important
	// 	&:hover
	// 		border 4px $blue solid !important
	//
	// &.btn-green
	// 	border 4px $green solid !important
	// 	span
	// 		color $green !important
	// 	&:hover
	// 		border 4px $green solid !important
	// &.btn-white
	// 	border 4px $white solid !important
	// 	span
	// 		color $white !important
	// 	&:hover
	// 		border 4px $white solid !important

.pt--1
	padding-top 1.85714286em
.pt--2
	padding-top 3.71428571em
.pt--3
	padding-top 5.57142857em
.pb--1
	padding-bottom 1.85714286em
.pb--2
	padding-bottom 3.71428571em
.pb--3
	padding-bottom 5.57142857em

.col-center
	float none
	margin 0 auto

// ---- Colors

.bg--gray
	background $gray4
.bg--blue
	background $blue
.bg--green
	background $green
.color--white
	color $white
.color--blue
	color $blue
.color--green
	color $green
a
	transition 0.2s
	color $blue
	&:hover,&:active
		transition 0.2s
		color $blueHover
.overlay-green[data-overlay]:before
	background $green
.overlay-blue[data-overlay]:before
	background $blue
// ---- header

#menu1

	padding 0px
	.menu-horizontal
		top 0
		>li
			margin 0
			>span, >a
				padding 25px
				display block
			&:not(.separate)::after
				padding 10px 0 0 0
			&:hover
				background $blue
				//color $white
				>span, >a
					color $white !important
	.dropdown__trigger::after
		display none
	.dropdown__content
			padding 0 !important
			border-radius 0px !important
	.menu-vertical
		padding-left 25px
		li

			a
				display block
				padding 5px 0px
				margin 0
				&.color--white
					color $white
				&:not(.separate)::after
					padding 10px 0 0 0
				&:hover
					//background $blue
					color $blue
					>span, >a
						color $white !important
	.logo
		max-height 100% !important
		top 0
		bottom 0
		margin auto
		position absolute
	.megamenu
		.col-sm-12
			padding 0px !important
		div[class*='col-']
			padding 25px 10px
#menu2
	padding 0 25px
	.logo
		max-height 100% !important
		top 0
		bottom 0
		margin auto
		position absolute





// ---- Home page

#our-services
	.col-sm-3
		padding 0 5% 25px 5%
		img
			padding 0 35px






// ---- Tables

table
	border $blue 4px solid
	font-size 1.2em
	text-align left
	thead
		tr
			th
				text-align center
				background-color $blue
				color $white
	tbody
		tr:nth-child(even)
			background-color rgba(0,0,0,.04) !important



// ---- Loans
#loan-nav
	.loan-type
		overflow hidden
		.background-image-holder
			transition 0.5s ease-in-out
		&:hover
			.background-image-holder
				transition 0.5s ease-in-out
				transform scale(1.1)


// ---- Masonry
.masonry
	.masonry__item
		margin-bottom 0



// ---- Partials
#home-login
	//background #57818A
	padding 20px 0 30px 0
	position absolute
	bottom 0
	z-index 10
	width 100%
	h1, h2, h3, h4, h5, h6
		margin 0
		color $white


#blog-slider
	.slide-image
		height 300px !important
	li
		list-style-type none



// ---- Home page
#home-hero, #hero-cover
	min-height 80vh
.hamburger-toggle > i
	color $blue
	//line-height 100px

#icon-nav
	i
		margin 20px auto
		color $navy
		font-size 3em
	.btn
		max-width 200px
		margin 0 auto


#steeve
	.text-content
		padding 10vh
		height 50vh

// ---- media queries





//@media (max-width: 992px) //tablet or small desktop


@media (max-width:768px) //mobile
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
		letter-spacing 5px
	h1
		font-size 4em
	h2
		font-size 3.5em
	h3
		font-size 3em
	h4
		font-size 2.5em
	h5
		font-size 2em
	h6
		font-size 1.5em
	.inline-block-xs
		width 49%
		display inline-block
		float none
	.col-right-full-height
		margin-top 30px
		position relative
		height 500px
	div[class*='col-'] > div[class*='col-']
		padding 0
	#footer
		.logo
			margin-top 50px

	#menu1
		.megamenu-subhead
			padding 0
		[class*='hr-']:after, [class*='hr-']:before
			width 100%
		.menu-horizontal
			>li
				margin 0
				&:hover
					background unset
					//color $white
					>span, >a
						color $gray !important
		.dropdown__content
				padding 0 !important
				border-radius 0px !important
		.menu-vertical
			li
				padding 10px 25px
				margin 0
				&:not(.separate)::after
					padding 10px 0 0 0
				&:hover
					background unset
					color $gray
					>span, >a
						color $gray !important
@media (max-height: 900px)
	#home-hero, #hero-cover
		min-height 100vh
@media (max-height: 730px)
	#hero-cover
		padding 9em 0 1em 0
// @media (max-height: 600px)
// 	#home-hero-content
// 		top 95px
.mt--2
	margin-top	.5em
.final
	margin-bottom 5em !important
.mt--1
	margin-top	3.5em
