section#footer.bg--gray
	.container
		.row.text-center.footer
			.col-sm-2.footer
				a(href="#")
					h5.footer Need Help
			.col-sm-2.footer
				a(href='/about')
					h5.footer About
			.col-sm-2.footer
				a(href='#')
					h5.footer Join
			.col-sm-2.footer
				a(href='/contact')
					h5.footer Contact
			.col.sm-3.footer
				img.logo(src="img/logo/logo-footer-gray2.png") 


		.row.mt--3.footer
			.col-sm-8
				p.
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accutmsan et iusto odio dignissim qui
			//-.col-sm-3
				p.smaller.
					Tulare Branch <br/> 
					300 North K. Street Tulare, CA 93274 <br/>
					(559) 686-1791 <br/>
			//-.col-sm-3
				p.small.
					Visalia Branch <br/> 
					5133 West Walnut Visalia, CA 93277 <br/>
					(559) 636-7400 <br/>
			//-.col-sm-3
				p.small-meta.
					Porterville Branch <br/> 
					617 N Main St. Porterville, CA 93257 <br/>
					(559) 781-0159 <br/>
			//-.col-sm-3
				img.logo(src="img/logo/logo-footer-gray2.png") 
