.modal-instance(style="display:none;")
	.modal-container(data-modal-index="0")
		#now-leaving.modal-content
			.boxed.boxed--lg
				.modal-close.modal-close-cross
				h3.color--blue.hr-blue-after Now Leaving
				p.
					You are being directed to a third-party website
				p
					a.website-link.website-name(href="#" target='_blank')
				p.
					Please note that this third-party website is not controlled by Tulare County Federal Credit Union or subject to our privacy policy. This link is provided for convenience and informational purposes only. Tulare County has no responsibility for the content of this web site and does not attest to the accuracy or propriety of any information located there.

				p.
					Thank you for visiting the Tulare County Federal Credit Union website
				.row.text-center
					.col-sm-6
						a.btn.btn-green.website-link(href="#" target='_blank')
							span.btn__text Leave TCFCU
					.col-sm-6
						.btn.btn-blue.modal-close
							span.btn__text Go Back
