section#footer.bg--gray
	.container
		.row.text-center
			.col-sm-3
				a(href="#")
					h6 Need Help?
			.col-sm-3
				a(href='#')
					h6 About Us
			.col-sm-3
				a(href='#')
					h6 join
			.col-sm-3
				a(href='#')
					h6 call us


		.row.mt--3
			.col-sm-12
				p.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit lorem, ornare ut sem in, pharetra placerat massa. Etiam facilisis nisi nec imperdiet suscipit.

		.row.mt--1.text-center
			.col-sm-4.col-center
				img.logo(src="img/logo/logo-footer-gray.png")
