section#footer.text-center.imageblock
	div.container
		div.row
			div.col-sm-6
				img.logo(src="/img/logo/logo_full_gray_withncua.png")
		div.row
			div.col-sm-6
				p(style="color:#525252") Routing # 321178158 | Copyright All Rights Reserved © 2017