div#header.nav-container
    div
       div.bar.bar--sm.visible-xs.bar--transparent
            div.container
                div.row
                    div.col-xs-3.col-sm-2
                        a(href="/") 
                            //header logo
                            
                            img.logo.logo-light(alt="logo" src="/img/logo/logo-full-light.png")
                    div.col-xs-9.col-sm-10.text-right
                        a.hamburger-toggle(href="#" data-toggle-class="#menu1;hidden-xs hidden-sm")
                            i.icon.icon--sm.stack-interface.stack-menu
        nav#menu1.bar.bar-1.hidden-xs.bar--transparent
            div.container
                div.row
                    div.col-md-2.col-sm-12.hidden-xs
                        div.bar__module.text-center-md
                            a(href="/") 
                                
                                img.logo.logo-light(alt="logo" src="/img/logo/logo-full-light.png")
                    div.col-md-10.col-sm-12.text-right.text-left-xs.text-center-sm
                        div.bar__module
                            include navigation