

div#header.nav-container
	div
		div.bar.bar--sm.visible-xs.bar--transparent
			div.container
				div.row
					//- header logo MOBILE
					div#mobile-logo.float-left.unmarg.text-left
						a(href="/") 	
							img.logo.logo-light(alt="logo" src="/img/logo/favicon_blue.png")
					//- Main MOBILE Navigation
					div#mobile-hamburger.float-right.unmarg
						a.hamburger-toggle(href="#" data-toggle-class="#menu1;hidden-xs hidden-sm")
							i.icon.icon--sm.stack-interface.stack-menu
		nav#menu1.bar.bar-1.hidden-xs.bar--transparent
				//-div.container
				//-div.row
					//- header logo
				//-div.col-sm-2.float-left
				a(href="/") 
					img.logo.logo-light.hidden-xs(alt="logo" src="/img/logo/favicon_blue.png")
				//- Main navigation
				//-div.col-sm-10.float-left
				include navigation