div#header.nav-container
	div
		div.bar.bar--sm.visible-xs.bar--transparent
			div.container
				div.row
					//- header logo MOBILE
					div.col-xs-9.unmarg.text-center
						a(href="/") 	
							img.logo.logo-light(alt="logo" src="/img/logo/favicon_blue.png")
					//- Main MOBILE Navigation
					div.col-xs-3.text-right.unmarg
						a.hamburger-toggle(href="#" data-toggle-class="#menu1;hidden-xs hidden-sm")
							i.icon.icon--sm.stack-interface.stack-menu
		nav#menu1.bar.bar-1.hidden-xs.bar--transparent
			div.container
				div.row.text-center
					//- header logo
					div.col-sm-12.float-left
						a(href="/") 
							img.logo.logo-light(alt="logo" src="/img/logo/favicon_blue.png")
						//- Main navigation
						div.block
							include navigation