//-a.text-center.visible-sm.visible-xs(href="#home-login" style="position:absolute; color:#fff; bottom:20px; z-index:20; left:0; right:0; margin: auto;")
	span.block.color--white.unmarg login
	i.icon.icon--xs.fa.fa-arrow-down.color--white.unmarg

//-div#home-login
	div.container
		div.row
			div.col-sm-12.text-center
				h3 Online Banking
			//-div.col-sm-4
				input(type="text" placeholder="Username")
			//-div.col-sm-4
				input(type="password" placeholder="Password")
			div.col-sm-12.text-center.text-center-md
				a.btn.btn--primary-2.unmarg(href="#" target="_self") 
					span.btn__text Login
//-a#login-button.btn.btn--primary-2.unmarg(href="#" target="_self") 
	span.btn__text Login