//-- var navigation = [{'name':'Home', 'link':'/'},{'name':'Financial Education', 'link':'/financial-education'},{'name':'Products & Services', 'link':'/products-and-services'},{'name':'Become A Member', 'link':'/become-a-member'},{'name':'Invest', 'link':'/invest'}]
//-ul.menu-horizontal.text-left.text-center-md
	each link in navigation
		li.menu-item
			a(href="#{link.link}" target="_self") #{link.name}

//-include home_login