- var navigation = [{'name':'Home', 'link':'/'},{'name':'Test', 'link':'test'},{'name':'Test 2', 'link':'test2'},{'name':'Test 3', 'link':'test3'}]
ul.menu-horizontal.text-left.text-center-md
	each link in navigation
		li.menu-item
			a(href="#{link.link}" target="_self") #{link.name}