extends /layout

block content
	section.cover.height-30.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		div.background-image-holder(style="background-image: url(/img/header/loans-auto.jpg); background-position:center bottom; opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/loans-auto.jpg" alt="" srcset="/img/header/loans-auto.jpg 1600w, /img/header/loans-auto.jpg 300w, /img/header/loans-auto.jpg 768w, /img/header/loans-auto.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			//-div.row
				div.col-sm-12
					h1.text-center Auto Loans
	
	//-section
		div.container
			div.row
				div.col-md-12.text-center
					a.btn.btn-blue(href="/loans")
						i.icon.icon--xs.fa.fa-arrow-left.color--blue(style="margin-right:20px;")
						span.btn__text Back to Loans
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h1.color--blue Auto Loans
	section
		div.container
			div.row.mb--2
				div.col-md-12
					p.
						When you are shopping for a new (or new to you) car, truck, or van, get pre-approved at the Credit Union before visiting the dealership. You will be able to better negotiate the purchase price when the salesman knows you’re already approved!
			div.row.mt--2.mb--2
				div.col-md-12
					h4.color--green.
						Check with us and you will find:
					p.unmarg.
						• Low interest rates
					p.unmarg.
						• No application fees to save you money
					p.unmarg.
						• Simple interest means you only pay interest for the time you borrow the money
					p.unmarg.
						• No prepayment penalties rewards you for early repayment
					p.unmarg.
						• Borrow 100% of the purchase price as well as tax, license, and extended warranties
			div.row.text-center
				div.col-md-6
					a.btn.btn-green
						span.btn__text Compare Plans

				div.col-md-6
					a.btn.btn-green
						span.btn__text Apply Now

	section.imagebg.height-30.parallax
		.background-image-holder
			img(src="/img/test1.jpg")
	section
		.container
			div.row.mt--2.mb--2
				div.col-md-12
					h4.color--green Simple Choices for Making Payments
					p.
						For your busy schedule, we give you several ways to make loan payments:
					p.unmarg.
						• Through automatic transfer from your Tulare Federal Checking Account
					p.unmarg.
						• By phone using the 24-Hour Automated Telephone Account Access System
					p.unmarg.
						• Online Banking
					p.unmarg.
						• In person at any Tulare Federal branch
					p.unmarg.
						• Through payroll deduction
					p.unmarg.
						• By mail
					p.unmarg.
						• MoneyGram
			.hr-blue-after.mt--3.mb--3
			div.row.mt--2.mb--2
				div.col-md-12
					h4.color--green Credit Union Direct Lending

					p.
						With CUDL, you can apply for your Tulare Federal vehicle loan right at the dealership! Enjoy the same great rates, flexible terms and superior service. All you need to do is let your salesperson know that you want to finance your purchase at Tulare Federal, and they will complete the financing paperwork at the same time you make your purchase. For information on participating dealers, as well as money saving tips on buying your next vehicle, visit CUDLAutosmart.com
			.hr-blue-after.mt--3.mb--3
			div.row.mt--2.mb--2
				div.col-md-12
					h4.color--green Save Money on GAP and MBI Plans

					p.
						Protect your vehicle investment with MBI (Mechanical Breakdown Insurance) and protect your finances with GAP (Guaranteed Auto Protection) plans from Tulare Federal. You’ll get all the coverage at a price that’s lower than most dealership plans.
			.hr-blue-after.mt--3.mb--3
			div.row.mt--2.mb--2
				div.col-md-12
					h4.color--green Affordable Debt Protection Coverage

					p.
						Life can take some unexpected turns and Tulare Federal is here to offer you some peace of mind in a hardship situation. Now offering Life, Disability, and Unemployment Payment and Balace Protection for just pennies a day! Take a proactive approach and safeguard yourself, your family and your credit. Click here for available coverage’s.

				
