extends /layout

block content
	section.cover.height-30.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		div.background-image-holder(style="background-image: url(/img/header/loans-credit-cards.jpg); background-position:center bottom; opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/loans-credit-cards.jpg" alt="" srcset="/img/header/loans-credit-cards.jpg 1600w, /img/header/loans-credit-cards.jpg 300w, /img/header/loans-credit-cards.jpg 768w, /img/header/loans-credit-cards.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			//-div.row.text-center
				div.col-sm-12
					h1 Credit Cards
	//-section
		div.container
			div.row
				div.col-md-12.text-center
					a.btn.btn-blue.type--uppercase(href="/loans")
						i.icon.icon--xs.fa.fa-arrow-left.color--blue(style="margin-right:20px;")
						span.btn__text Back to Loans

	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Tulare Federal Credit Cards
	section
		div.container

			div.row
				div.col-md-12
					h5.color--blue Classic Card
					p.
						The ideal card for members who want the convenience of a low-cost credit card.
			
			div.row.mt--2
				div.col-md-12
					p.unmarg.
						• No annual membership fee
					p.unmarg.
						• Low-interest rate and convenient terms
					p.unmarg.
						• Instant no-fee cash advances at any Tulare Federal branch
					p.unmarg.
						• 25-day grace period (excludes cash advances) when you pay your balance in full within 25 days
					p.unmarg.
						• Many convenient payment options
					p.unmarg.
						• Visa assistance center (1-800-VISA-911)
					p.unmarg.
						• Provisional credits for disputed charges
					p.unmarg.
						• Emergency card replacement (additional charge may apply)
					p.unmarg.
						• 24-hour ATM access at ATM machines that display the Visa logo (pin required)
					p.unmarg.
						• Welcomed at millions of retailers
					p.unmarg.
						• Internet purchases protected by Verified by Visa
					p.unmarg.
						• Low-cost payment protection available

				div.col-md-12
					a.btn.btn-blue(href="#")
						span.btn__text Apply Now			
			
			div.row.mt--2
				div.col-md-12
					h5.color--blue Student Card
					p.
						For students that have minimal or no credit history.
			
			div.row.mt--2
				div.col-md-12
					p.unmarg.
						• No annual membership fee
					p.unmarg.
						• Low-interest rate and convenient terms
					p.unmarg.
						• Instant no-fee cash advances at any Tulare Federal branch
					p.unmarg.
						• 25-day grace period (excludes cash advances) when you pay your balance in full within 25 days
					p.unmarg.
						• Many convenient payment options
					p.unmarg.
						• Visa assistance center (1-800-VISA-911)
					p.unmarg.
						• Provisional credits for disputed charges
					p.unmarg.
						• Emergency card replacement (additional charge may apply)
					p.unmarg.
						• 24-hour ATM access at ATM machines that display the Visa logo (pin required)
					p.unmarg.
						• Welcomed at millions of retailers
					p.unmarg.
						• Internet purchases protected by Verified by Visa
					p.unmarg.
						• Low-cost payment protection available
			
				div.col-md-12
					a.btn.btn-blue(href="#")
						span.btn__text Apply Now	

			

			div.row.mt--2
				div.col-md-12
					h5.color--blue Platinum Card
					p.
						This prestigious reward card gives you all the benefits of Classic plus:
			
			div.row.mt--2
				div.col-md-12
					p.unmarg.
						• Visa Assistance Center (1-800-VISA-911)
					p.unmarg.
						• Travel Accident Insurance
					p.unmarg.
						• Annual activity summary
					p.unmarg.
						• Travel & emergency assistance service
					p.unmarg.
						• Auto rental insurance
					p.unmarg.
						• Warranty manager service
					p.unmarg.
						• UChoose Rewards® Program – Earn points for every dollar and choose from over 500 rewards
				div.col-md-12
					a.btn.btn-blue(href="#")
						span.btn__text Apply Now
