extends /layout

block content
	section.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		div.background-image-holder(style="background-image: url(/img/header/loans-mortgage.jpg); background-position:center bottom; opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/loans-mortgage.jpg" alt="" srcset="/img/header/loans-mortgage.jpg 1600w, /img/header/loans-mortgage.jpg 300w, /img/header/loans-mortgage.jpg 768w, /img/header/loans-mortgage.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			//-div.row.text-center
				div.col-sm-12
					h1 Credit Cards
	//-section
		div.container
			div.row
				div.col-md-12.text-center
					a.btn.btn-blue.type--uppercase(href="/loans")
						i.icon.icon--xs.fa.fa-arrow-left.color--blue(style="margin-right:20px;")
						span.btn__text Back to Loans

	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Home Loans
	section
		div.container

			div.row
				div.col-md-12
					h5.color--blue First Mortgages
					p.
						Purchase or Refinance your primary residence, vacation home, or rental property.
			
			div.row.mt--2
				div.col-md-12
					p.unmarg.
						• Conventional
					p.unmarg.
						• FHA
					p.unmarg.
						• VA
				div.col-md-12
					a.btn.btn-blue(href="https://uat-internetloanapplication.cudl.com/tulare/")
						span.btn__text Check Rates & Apply
				
			div.row.mt--1
				div.col-md-12
					h5.color--blue Equity Home Loans

			div.row.mt--1
				div.col-md-12
					h5.color--blue Home Equity Line of Credit
					p.
						Fluff about HELOC’s.
			
			div.row.mt--2.final
				div.col-md-12
					p.unmarg.
						• Rates as low as 4.25% ARP, variable
					p.unmarg.
						• Loans up to 90% of your home’s appraised value
					p.unmarg.
						• Revolving line of credit
					p.unmarg.
						• Convenient access to funds via check writing
					                      
				div.col-md-12
					a.btn.btn-blue(href="https://uat-internetloanapplication.cudl.com/tulare/")
						span.btn__text Apply Online                      

			div.row.mt--1
				div.col-md-12
					h5.color--blue Fixed Rate Second Mortgage
					p.
						Fluff about Fixed Seconds.
			
			div.row.mt--2.final
				div.col-md-12
					p.unmarg.
						• Rates as low as 5.25% ARP, fixed
					p.unmarg.
						• Loans up to 90% of your home’s appraised value
					p.unmarg.
						• Terms up to 20 years
				
				div.col-md-12
					a.btn.btn-blue(href="https://uat-internetloanapplication.cudl.com/tulare/")
						span.btn__text Apply Online
				
		

			
