extends /layout

block content
	section.cover.height-30.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		div.background-image-holder(style="background-image: url(/img/header/loans-mortgage.jpg); background-position:center bottom; opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/loans-mortgage.jpg" alt="" srcset="/img/header/loans-mortgage.jpg 1600w, /img/header/loans-mortgage.jpg 300w, /img/header/loans-mortgage.jpg 768w, /img/header/loans-mortgage.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			//-div.row
				div.col-sm-12
					h1.text-center Mortgages
			
	//-section
		div.container
			div.row
				div.col-md-12.text-center
					a.btn.btn--primary-2(href="/loans")
						i.icon.icon--xs.fa.fa-arrow-left.color--white(style="margin-right:20px;")
						span.btn__text Back to Loans
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Home Loans
	section
		div.container
			div.row
				div.col-md-12
					h5.color--blue Mortgage Loans

					p.
						Count on Tulare Federal to make your home buying dreams a reality. At Tulare Federal, we’ve helped thousands of members realize their dream of home ownership, by partnering up with CUSO Mortgage to offer affordable real estate loans. Our experienced and friendly mortgage professionals are ready to help find the program that is right for you.
					
			div.row.mt--2.mb--2
				div.col-md-12
					a.btn.btn-blue(href="#")
						span.btn__text Learn more about mortgage loans
			
			div.row

				div.col-md-6
					
					h5.color--blue Tulare Federal focuses on the individual needs of our members by offering:
					p.unmarg.
						• Pre-approvals
					p.unmarg.
						• Flexible underwriting
					p.unmarg.
						• Low rates and closing costs
					p.unmarg.
						• Online application status and rate tracking
				
				div.col-md-6
					h5.color--blue Tulare Federal offers various types of mortgages to fit your lifestyle:
					p.unmarg.
						• Traditional fixed-rate mortgages (15, 20, 30 year)
					p.unmarg.
						• Adjustable rate mortgages (ARMs)
					p.unmarg.
						• FHA loans
					p.unmarg.
						• Rental property
			
			div.row.text-center.mt--2.mb--2
				div.col-md-6
					a.btn.btn-blue(href="#")
						span.btn__text Compare Plans

				div.col-md-6
					a.btn.btn-blue(href="#")
						span.btn__text Apply Now

			

			div.row
				div.col-md-12
					h5.color--blue Fixed Rate/Term Home Equity
			div.row.mt--1.mb--1
				div.col-md-12
					a.btn.btn-blue(href="#")
						span.btn__text Apply Now
			div.row
				div.col-md-12
					p.
						If you are looking for a fixed amount to be repaid over a specific time period with a fixed interest rate, consider a Second Mortgage.
			div.row.mt--2.mb--2
				div.col-md-6
					p.unmarg.
						• Equal monthly payments
					p.unmarg.
						• Up to 90% of equity available**
					p.unmarg.
						• Terms up to 15 years, based on amount financed
				div.col-md-6
					h5.color--blue Tulare Federal offers various types of mortgages to fit your lifestyle:
					p.unmarg.
						• Traditional fixed rate mortgages (15, 20, 30 year)
					p.unmarg.
						• Adjustable rate mortgages (ARMs)
					p.unmarg.
						• FHA loans
					p.unmarg.
						• Rental property

			

			div.row
				div.col-md-12
					h5.color--blue Home Equity Line of Credit (HELOC)
			div.row.mt--1.mb--1
				div.col-md-12
					a.btn.btn-blue(href="#")
						span.btn__text Apply Now
					
			div.row
				div.col-md-12

					p.
						A Home Equity Line of Credit provides a flexible source of cash. Access funds as you need them, up to your approved limit. Plus, you can transfer funds to your Tulare Federal Checking Account 24-hours a day through PCU, here on our Online Banking System, or with our 24-Hour Telephone Account Access System. A Home Equity Line of Credit from Tulare Federal offers many advantages including:

					p.unmarg.
						• Competitive variable rates
					p.unmarg.
						• Variable rate of interest, subject to adjustment (rate would never exceed 18%)
					p.unmarg.
						• Draw period for up to 10 years
					p.unmarg.
						• Low processing fee
					p.unmarg.
						• Tax deductible interest in many cases*
					p.unmarg.
						• Payments based on the balance used
					p.
						• Borrow up to 90% of the market value on your primary residence
			div.row.mt--1.mb--1
				div.col-md-12
					a.btn.btn-blue(href="#")
						span.btn__text Disclosure

			

			div.row
				div.col-md-12
					h5.color--blue Home Equity Programs
			div.row.mt--1.mb--1
				div.col-md-12
					a.btn.btn-blue(href="#")
						span.btn__text Apply Now

			div.row
				div.col-md-12
					p.
						A Home Equity Loan from Tulare Federal is the smart way to finance nearly anything. Interest rates are much lower than personal loans, and when you use your home as collateral for a loan, the interest is tax-deductible*, making your effective interest rate even lower. Consider a Home Equity Loan for:
					p.unmarg.
						• Home improvements
					p.unmarg.
						• College tuition and expenses
					p.unmarg.
						• Vacation or wedding expenses
					p.unmarg.
						• Bill Consolidation

			div.row.mt--2
				div.col-md-12
					p.
						*Please consult your tax advisor about your particular situation.
					p.
						**Subject to credit union approval of equity requirements.
					a.btn.btn-blue(href="#")
						span.btn__text Learn More





					
