extends /layout

block content
	section.cover.height-50.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		div.background-image-holder(style="background-image: url(/img/header/loans-personal.jpg); background-position:center bottom; opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/loans-personal.jpg" alt="" srcset="/img/header/loans-personal.jpg 1600w, /img/header/loans-personal.jpg 300w, /img/header/loans-personal.jpg 768w, /img/header/loans-personal.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			//-div.row.text-center
				div.col-sm-12
					h1 Personal Loans
			
	//-section
		div.container
			div.row
				div.col-md-12.text-center
					a.btn.btn-blue(href="/loans")
						i.icon.icon--xs.fa.fa-arrow-left.color--white(style="margin-right:20px;")
						span.btn__text Back to Loans
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Personal Loans
	section
		div.container
			div.row
				div.col-md-12
					h5.color--blue.
						Signature Loan
					p.
						Your promise means a lot. That’s why we want to lend you money with no collateral, just your signature.
						
			div.row.mt--2
				div.col-md-12
					p.unmarg.
						• Loans available up to $10,000
					p.unmarg.
						• Fixed terms up to 36 months
				div.col-md-12
					a.btn.btn-blue(href="https://uat-internetloanapplication.cudl.com/tulare/" target="_blank")
						span.btn__text Apply Now
			
			div.row.mt--1
				div.col-md-12
					h5.color--blue.
						Overdraft Line of Credit
					p.
						Attached to your checking account, our Overdraft Line of Credit is easily accessed through your Visa Debit Card, check writing, or in-person withdrawals.
			div.row.mt--2.final
				div.col-md-12
					p.unmarg.
						• Low fixed rate
					p.unmarg.
						• Pay interest only on what you use
					p.unmarg.
						• Pay off your balance monthly or let it ride with low monthly payments
				div.col-md-12
					a.btn.btn-blue(href="https://uat-internetloanapplication.cudl.com/tulare/" target="_blank")
						span.btn__text Apply Now
			div.row.mt--1
				div.col-md-12
					h5.color--blue.
						Deposit Secured
					p.
						Use your <a href="/savings">Savings Account</a> or <a href="/savings">Certificate of Deposit</a> as collateral in order to pay a low interest rate and borrow for whatever you need, you decide.
			div.row.mt--2.final
				div.col-md-12
					p.unmarg.
						• Earn dividends, pay a little interest, build your credit.
					p.unmarg.
						• Don’t be scared of the variable rate, it’s just a smidge higher than the dividends you’re earning!

						
					
