extends /layout

block content
	section.cover.height-30.imagebg.parallax.text-center(data-overlay="5")
		//- background image
		div.background-image-holder(style="background-image: url(/img/header/loans-recreational.jpg); background-position:center bottom; opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/loans-recreational.jpg" alt="" srcset="/img/header/loans-recreational.jpg 1600w, /img/header/loans-recreational.jpg 300w, /img/header/loans-recreational.jpg 768w, /img/header/loans-recreational.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			//-div.row
				div.col-sm-12
					h1.text-center Recreational Loans
	//-section
		div.container
			div.row
				div.col-md-12.text-center
					a.btn.btn-blue(href="/loans")
						i.icon.icon--xs.fa.fa-arrow-left.color--white(style="margin-right:20px;")
						span.btn__text Back to Loans
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h2.color--blue Recreational Loans
	section
		div.container
			div.row
				div.col-md-12
					p.
						You can also finance an ATV, motorcycle, boat, motor home, travel trailer, jet ski or RV at Tulare Federal. Low rates, flexible terms and a streamlined application process make it easy to finance your vehicle. Even if you’ve signed on the dotted line somewhere else, you can refinance your vehicle at Tulare Federal.
					
				div.col-md-12

					p.
						Call us at 559-686-1791 to find out how much you can save today!
					
					
			div.row.text-center.mt--2
				
				div.col-md-6
					a.btn.btn-blue
						span.btn__text Compare Plans

				div.col-md-6
					a.btn.btn-blue
						span.btn__text Apply Now

	section.imagebg.parallax.height-30
		.background-image-holder
			img(src='/img/test2.jpg')
	section
		.container
			div.row.mb--2

				div.col-md-12
					
					h5.color--blue Motorcycles
					p.unmarg.
						• Up to 100% financing of value plus sales tax for new & used motorcycles
					p.unmarg.
						• Flexible terms available
			div.row.mb--2

				div.col-md-12
					h5.color--blue RVs & Travel Trailers
					p.unmarg.
						• Up to 100% financing of the vehicle value for new and used RVs
					p.unmarg.
						• Up to 100% financing of the vehicle value for new and used travel trailers
					p.unmarg.
						• Flexible terms available
			div.row.mb--2

				div.col-md-12
					h5.color--blue Boats, Yachts, & Airplanes
					p.unmarg.
						• Up to 100% financing of the value for new boats, yachts, & airplanes
					p.unmarg.
						• Flexible terms available
			div.row.mb--2

				div.col-md-12
					h5.color--blue Jet Skis & Personal Watercraft
					p.unmarg.
						• Up to 100% financing of value for new personal watercraft
					p.unmarg.
						• Flexible terms available
