extends /layout

block content
	section.cover.height-30.imagebg.parallax(data-overlay="5")
		//- background image
		div.background-image-holder(style="background-image: url(/img/header/loans-solar.jpg); background-position:center bottom; opacity: 1;") 
			//-background image for smaller devices
			img.attachment-full.size-full(width="1600" height="1067" src="/img/header/loans-solar.jpg" alt="" srcset="/img/header/loans-solar.jpg 1600w, /img/header/loans-solar.jpg 300w, /img/header/loans-solar.jpg 768w, /img/header/loans-solar.jpg 1024w" sizes="(max-width: 1600px) 100vw, 1600px")
		div#hero-content.container.pos-vertical-center
			//-div.row
				div.col-sm-12
					h1 Solar Loans
	//-section
		div.container
			div.row
				div.col-md-12
					a.btn.btn-green(href="/loans")
						i.icon.icon--xs.fa.fa-arrow-left.color--white(style="margin-right:20px;")
						span.btn__text Back to Loans
	section.unpad--bottom
		.container
			.row
				.col-sm-12
					h1.color--blue Solar Loans
	section
		div.container

			div.row

				div.col-md-12
					h4.color--green Go Green, Save Green!
					p.
						A Solar Panel Loan from Tulare Federal is an affordable way to make your home more energy efficient.
					p.
						Adding solar panels to your home can help you reap substantial savings from both lower energy bills and tax credits. Replacing your current energy system with solar panels could:

					p.unmarg.
						• Save you up to 70% on your monthly utility bill
					p.unmarg.
						• Increase your home value
					p.unmarg.
						• Give you greater control over your home expenses
					p.unmarg.
						• One-time reamorization option
					p.unmarg.
						• Provide tax credits up to 30% of the cost of some energy-efficient improvements, including solar panels, through 2016 for existing primary homes.
					p.unmarg.
						• NO payments for up to 90 days!
					p.
						* Please consult your tax advisor about your particular situation. Rates and terms are subject to change.
			.hr-blue-after.mt--3.mb--3
			
			div.row

				div.col-md-12
					h4.color--green Signature Solar Loan
			div.row.mt--1.mb--1

				div.col-md-12
					a.btn.btn-green(href="#")
						span.btn__text Apply Now
			
			div.row
				div.col-md-12
					p.
						Pay no upfront fees and skip the hassle of mortgage documents or recording with a Signature Loan. Borrow up to $50,000 with no property valuation needed.

					table.table--alternate-row
						thead
							tr
								th AMOUNT FINANCED
								th VaINTEREST RATE*
								th TERM
								
						tbody
							tr
								td $0 – $10,000
								td 6.50%
								td up to 84 months
								
							tr
								td $10,001 – $30,000
								td 7.50%
								td up to 120 months
								
							tr
								td $30,001 – $50,000
								td 8.50%
								td up to 180 months
								

			.hr-blue-after.mt--3.mb--3

			div.row

				div.col-md-12
					h4.color--green Secured Solar Loan
			div.row.mt--1.mb--1

				div.col-md-12
					a.btn.btn-green(href="#")
						span.btn__text Apply Now
			
			div.row
				div.col-md-12
					p.
						Enjoy a low, fixed interest rate with a variety of rate and term options. The interest rate is tax deductible* and there is no minimum or maximum loan amount.

					p.unmarg.
						Primary Residence:
					table.table--alternate-row
						thead
							tr
								th AMOUNT FINANCED
								th VaINTEREST RATE*
								th TERM
								
						tbody
							tr
								td $0 – $10,000
								td 6.50%
								td up to 84 months
								
							tr
								td $10,001 – $30,000
								td 7.50%
								td up to 120 months
								
							tr
								td $30,001 – $50,000
								td 8.50%
								td up to 180 months



					p.unmarg.
						Non-Owner Occupied:
					table.table--alternate-row
						thead
							tr
								th AMOUNT FINANCED
								th VaINTEREST RATE*
								th TERM
								
						tbody
							tr
								td $5,000 – $25,000
								td 4.25% – 4.50%
								td up to 120 months
								
							tr
								td $25,001 – $45,000
								td 4.50% – 4.75%
								td up to 180 Months
								
							tr
								td $45,001 – $150,000
								td 5.00% – 5.50%
								td up to 240 Months
